@charset "utf-8";

/*产品中心*/
.commonbg2{ background: #fff;}
/*产品搜索结果页面*/
.product-search-left{width:300px; }
.product-search-left-nav li a{height:60px;line-height: 60px; color: #666; font-size: 18px; background: #fff;border-bottom:1px solid #ececec; display: block;padding:0 30px; }
.product-search-left-nav li:last-child a{border-bottom:1px solid #fff;}
.product-search-left-nav li a:hover,.product-search-left-nav li a.active{border-bottom:1px solid #05a89a; background: #05a89a; color: #fff;}
.product-search-left-nav li a span{ display: block; float: right;}
.product-search-right{width:850px;}
.product-search-title{ color: #333; font-size: 16px;}
.product-search-title span{ color: #999;}
.product-search-title strong{ margin-right: 40px;}
.product-search-list li{background: #fff; padding:30px;margin-top:30px;overflow: hidden;}
.product-search-list li a.centimg{width:280px; height:170px;position:relative;}
.product-search-list li a.centimg img{width:280px; height:170px; display:block;overflow:hidden;}
.product-search-list li a.centimg span{display:block;width:80px;height:30px;text-align: center;line-height: 30px;color:#fff;font-size: 14px;position:absolute;left:-30px;top:-10px;}
.product-search-list li a.centimg span.live{background: url(../images/hot-icon1.png) no-repeat;}
.product-search-list li a.centimg span.hot{background: url(../images/hot-icon2.png) no-repeat;}
.product-search-list .search-title{width:380px;height:170px;padding-left:30px;position:relative;padding-right:100px;}
.product-search-list .search-title h3 a{font-size: 18px; line-height:1.6; color:#333;}
.product-search-list .search-title h3 a:hover{color:#05a89a;}  
.product-search-list .search-title p.search-time{font-size: 14px;color:#999;margin-top:1px;}
.product-search-list .search-title p.search-time span{margin-right:10px;}
.product-search-list .search-title p.search-time a{color: #05a89a;}
.product-search-list .search-title p.search-places{margin-top:1px;font-size: 14px;color:#999;}
.product-search-list .search-title p.search-places span{margin-right:20px;}
.product-search-list .search-title p.search-places span em{color: #ffba00;}
.product-search-list .search-title p.search-labe{margin-top:13px;}
.product-search-list .search-title p.search-labe a{ display:inline-block;padding:0 5px;height: 24px;line-height: 24px;margin-right:3px; text-align: center; border:1px solid #ffba00; font-size:12px; color: #ffba00;}
.product-search-list .search-title p.original-price{font-size:14px; color: #999; text-align: right; position: absolute;right:0px;bottom:25px; text-decoration: line-through;}
.product-search-list .search-title p.present-price{font-size:18px; color: #ffba00; text-align: right; position: absolute;right:0px;bottom:0px;}
.product-search-list .search-title a.search-a{position: absolute;right:0px;top:0px; text-align: center;display:inline-block;width:78px;height: 28px;line-height: 28px;background: #05a89a; font-size:14px; color: #fff;}

/*产品列表*/
.product-list{padding-top:50px;}
.product-list-left{width:850px;}
.product-list-right{width:300px;}
.product-list-right .advert{border:1px solid #ececec;width:298px;height:398px; position:relative;margin-top:62px;}
.product-list-right .advert img {width:298px;height:398px;display:block;overflow:hidden;}
.product-list-right .advert h3{height:60px; line-height: 60px;background: rgba(0, 0, 0, 0.5);font-size: 18px;color:#fff;position:absolute;left:0px;bottom:0px;width:100%;}
.product-list-right .advert h3 strong{padding:0 20px;display: block; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.infornation-box h2{font-size: 18px; color:#333;padding:30px 0 20px 0;}
.hot-inftion{border:1px solid #ececec;width:238px;background-color: #fff;padding:0px 30px 30px;}
.hot-inftion dl{margin-top:30px;}
.hot-inftion dt img{width:240px; height:150px;display:block;}
.hot-inftion dd h3 {margin-top:18px;}
.hot-inftion dd h3 a{font-size: 14px;color:#333;}
.hot-inftion dd h3 a:hover{color:#05a89a;}
.hot-inftion dd p{color:#999;font-size: 14px;margin-top:5px;}
.hot-inftion dl dt{position: relative;}
.hot-inftion dl dt p{position:absolute;bottom:5px;right:10px;font-size: 18px; color: #ffba00;}
.hot-inftion dl dt p span{font-size: 14px; color: #fff;margin-left:5px;}
.excellent-campers{padding:28px;background: #fff;border:1px solid #ececec;}
.excellent-campers p{font-size: 14px; color:#666;line-height: 1.8;margin-top:20px;}
.excellent-campers p img{display: block;width:240px; height: 140px; overflow: hidden;}
.excellent-campers dl{height:60px;}
.excellent-campers dl dt{height:60px;width:60px; float:left;padding-right:20px;}
.excellent-campers dl dt img{height:60px;width:60px; display:block; border-radius: 50%;}
.excellent-campers dl dd{width:160px; float:left;}
.excellent-campers dl dd span{display:block;font-size: 14px; color:#666;margin-top:5px;}
.excellent-campers dl dd span strong{ font-size: 16px; color: #333;}
.excellent-campers  a.camplink{width:138px; height: 38px;margin-top:20px;font-size:16px;border:1px solid #ffba00; color:#ffba00; line-height: 38px; display: block; text-align: center;}
.produect-list-left-video{position: relative;}
.produect-list-left-video img{display: block;width:300px; height: 200px; overflow: hidden;margin-top:30px; }
.produect-list-left-video p.imgbg{width:100%; height: 200px; background:rgba(0,0,0,0.2); position: absolute;left:0px;top:0px;}
.produect-list-left-video span.videobuttn{display: block;width:56px;height: 56px;margin:-28px 0 0-28px; position: absolute;left:50%;top:50%; background: url(../images/vicon2.png) no-repeat; background-size:56px 56px ;}
.produect-list-left-ul li{background: #fff; padding:30px;margin-top:30px;overflow: hidden;}
.produect-list-left-ul  li a.centimg{width:280px; height:170px;position:relative;}
.produect-list-left-ul  li a.centimg img{width:280px; height:170px; display:block;overflow:hidden;}
.produect-list-left-ul  li a.centimg span{display:block;width:80px;height:30px;text-align: center;line-height: 30px;color:#fff;font-size: 14px;position:absolute;left:0px;top:10px;}
.produect-list-left-ul  li a.centimg span.live{background: url(../images/hot-icon1.png) no-repeat;}
.produect-list-left-ul  li a.centimg span.hot{background: url(../images/hot-icon2.png) no-repeat;}
.produect-list-left-ul  .search-title{width:480px;height:170px;padding-left:30px;position:relative;}
.produect-list-left-ul  .search-title h3 a{font-size: 18px; line-height:1.6; color:#333;}
.produect-list-left-ul  .search-title h3 a:hover{color:#05a89a;}  
.produect-list-left-ul  .search-title h3 a strong{color:#05a89a;} 
.produect-list-left-ul  .search-title p.search-time{font-size: 14px;color:#999;margin-top:2px;}
.produect-list-left-ul  .search-title p.search-time span{margin-right:10px; color: #333;}
.produect-list-left-ul  .search-title p.search-time a{color: #05a89a;}
.produect-list-left-ul  .search-title p.search-places{margin-top:8px;font-size: 14px;color:#999;}
.produect-list-left-ul  .search-title p.search-places span{margin-right:20px;}
.produect-list-left-ul  .search-title p.search-places span em{color: #333;}
.produect-list-left-ul  .search-title p.search-places span.discount{color: #ffba00; background: url(../images/proh.png) no-repeat; padding-left:17px;}

.produect-list-left-ul  .search-title p.search-labe{margin-top:13px; position: absolute;left:30px;bottom:0px;}
.produect-list-left-ul  .search-title p.search-labe a{ display:inline-block;padding:0 5px;height: 24px;line-height: 24px;margin-right:3px; text-align: center; border:1px solid #ffba00; font-size:12px; color: #ffba00;}
.produect-list-left-ul  .search-title p.original-price{font-size:14px; color: #999; text-align: right; position: absolute;right:0px;bottom:25px; text-decoration: line-through;}
.produect-list-left-ul  .search-title p.present-price{font-size:18px; color: #ff7474; text-align: right; position: absolute;right:0px;bottom:-3px;}
.product-list-left .nolinetext{text-align:center;font-size:18px;line-height:30px;margin-top:50px;color:#999;}

/*列表搜索条件*/
.product-list-screen{padding:25px;background: #fff;}
.product-list-set span{ display: block; height: 33px; line-height: 33px; float: left; color: #666; font-size: 18px;}
.product-list-set a{display: block;margin-left:15px; color: #05a89a;height: 33px;font-size: 18px; line-height: 33px; float: left;}
.product-list-set ul{float: left;}
.product-list-set ul li{margin-left:15px;float:left;padding:0 35px 0 15px;height: 31px; line-height: 31px; border:1px solid #bfbfbf;font-size: 18px; color: #333; position: relative;}
.product-list-set ul li b{ cursor: pointer; display: block;width: 11px; height: 11px; background: url(../images/del1.png) no-repeat; position: absolute; right: 10px; top:10px;}
.product-list-screen-cent li{overflow: hidden;margin-top:20px;}
.product-list-screen-cent li label{ display: block;font-size: 18px; color: #666; float: left;width:105px;}
.product-list-screen-cent li p { float: left;width: 695px;}
.product-list-screen-cent li p a{font-size: 16px; display: inline-block; color: #999; line-height: 30px;margin-right:20px;}
.product-list-screen-cent li p a:hover,.product-list-screen-cent li p a.active{color: #05a89a;}
.address-box{width:88px; background: #fff; height: 28px; border:1px solid #ccc; padding:0 10px;  position:relative}
.address-box h4{width:82px;padding-left:6px;background:url(../images/upicon.png) no-repeat right 10px; cursor: pointer; height: 28px; line-height: 28px;font-size: 14px; color: #333;}
.address-box-list{width:108px;max-height: 200px; overflow:auto; border:1px solid #ccc;border-top:none;position: absolute;top:29px;left:-1px;background: #fff;z-index:33;}
.address-box-list a{border-bottom: 1px solid #eee; display: block;padding-left:15px; height: 30px; line-height: 30px;}
.address-box-list a:last-child{border:none}
.address-box-list a:hover{background:#eee}
.productlist-nav-l p{ height: 30px; line-height: 30px; font-size: 14px; color: #333; float: left;}
.productlist-nav-r a{position: relative; display: inline-block;padding-right:16px; height: 30px; line-height: 30px; font-size: 14px; color: #666;margin-left:20px;}
.productlist-nav-r a b{ display: block;width:10px; height:8px; position: absolute;right:0px;}
.productlist-nav-r a b.s-up{background: url(../images/s-link.png) no-repeat;top:8px;}
.productlist-nav-r a b.s-down{background: url(../images/s-link.png) no-repeat 0px -5px;top:13px;}
.productlist-nav-r a b.s-up.active{background: url(../images/s-hover.png) no-repeat;top:8px; z-index:2;}
.productlist-nav-r a b.s-down.active{background: url(../images/s-hover.png) no-repeat 0px -6px;top:13px; z-index: 2;}

/*产品详情*/
.product-details-top-l{width:800px; position: relative;padding-bottom: 20px;}
.product-details-top-l img{display: block;width: 800px; height: 450px; overflow: hidden;}
.product-details-top-l h2{font-size: 18px; color: #fff;position: absolute;left:30px;top:30px;text-shadow: 0 0 10px #000;}
.product-details-top-bg{width:100%; background: rgba(0,0,0,0.5); position: absolute; left:0px; bottom:20px;}
.product-details-top-bg h3{width:489px; padding: 0 30px; font-size: 18px; color: #ffba00;margin-top:20px;}
.product-details-top-bg h3 p{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;word-wrap: normal;}
.product-details-top-bg h3 p:last-child{color:#fff;font-size: 16px; width:465px;margin:10px 0 20px;}
.product-details-top-bg h4{width:250px;padding-top:5px;}
.product-details-top-bg h4 span{width:98px;margin-left:10px;margin-top:10px; text-align: center;float: left; height: 28px; line-height: 28px; border:1px solid #ffba00; color: #ffba00; font-size: 14px;}
.product-details-top-r{width:350px; height: 450px;padding-left:30px;}
.product-details-topr-box span{ color: #ff7474;}
.product-details-topr-box li{width:100%;margin-bottom:13px;}
.product-details-topr-box li label{ float: left; display: block; width:80px; color: #666; font-size: 14px;}
.product-details-topr-box li.details-price {font-size: 16px; color: #666;}
.product-details-topr-box li.details-price span {font-size:21px;}
.product-details-topr-box li.details-price em {font-size:14px; color: #999;margin-left:40px;}
.product-details-topr-box li.details-price strong{font-size: 18px; color: #ff7474;}
.product-details-topr-box li.details-price label{margin-top:6px;}
.product-details-topr-box li.details-deposit strong{font-size: 16px; color: #ff7474;}
.product-details-topr-box li.details-deposit{font-size: 16px; color: #666;}
.product-details-topr-box li.details-discount,.product-details-topr-box li.details-time{font-size: 14px; color: #333;}
.product-details-topr-box li.details-discount span{margin-left:10px;}
.product-details-topr-box li.details-number,.product-details-topr-box li.details-payment{font-size: 14px; color: #333;}
.product-details-topr-box li.details-number p{padding-left:80px;}
.product-details-topr-box li.details-number span{ color: #05a89a;}
.product-details-topr-box li.details-payment span{margin-right:15px; color: #333;}
.product-details-topr-box li.details-payment p{height:52px;overflow: hidden;}
.product-details-topr-box li.details-group{border-top:1px solid #e5e5e5;margin-top:7px;padding:20px 0px 10px;line-height:40px;height:40px;}
.product-details-topr-box li.details-group2{line-height:40px;}
.details-group-box {width:240px; background: #fff; height: 38px; border:1px solid #E5E5E5; padding:0 10px;  position:relative}
.details-group-box  h4{width:240px;background:url(../images/upicon.png) no-repeat right 15px; cursor: pointer; height: 38px; line-height: 38px;font-size: 12px; color: #05a89a;}
.details-group-box .address-box-list{width:260px; border:1px solid #ccc;border-top:none;position: absolute;top:39px;left:-1px;background: #fff;}
.details-group-box .address-box-list a{border-bottom: 1px solid #eee;font-size: 12px; display: block;width:250px; height: 35px; line-height: 35px;padding-left:10px; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}
.details-group-box .address-box-list a:last-child{border:none}
.details-group-box .address-box-list a:hover{background:#eee}
.details-group-box .address-box-list a.active{background:#05a89a; color: #fff;}
.amount-control{width:170px; height:38px; border:1px solid #e5e5e5; float:left; overflow:hidden; position:relative}
.amount-control a{ position:absolute; width:38px;height:38px; color: #ccc;display:inline-block; float:left;  font-size:24px; text-align:center; line-height:38px; overflow:hidden }
.amount-control a.decrement{left:0px; top:0px;border-right:1px solid #e5e5e5;}
.amount-control a.increment{right:0px; top:0px;border-left:1px solid #e5e5e5;}
.amount-control a:hover{ color: #05a89a; }
.amount-control input{border:none;width:90px; color: #05a89a;  height:38px;line-height:38px; display:block; float:left; background:#fff; text-align:center;position:absolute;left:39px; top:0px; }
.details-cartm{margin-top:15px;}
.details-cartm a{ display: block;width:160px;  height:38px; text-align: center; line-height:38px; font-size: 18px;}
.details-cartm a.d-cart{background: #05a89a; color: #fff;border:1px solid #05a89a;}
.details-cartm a.d-buy{background: #fff; color: #05a89a;border:1px solid #05a89a;}
.details-tel{clear:both;color:#666;font-size:16px;padding-top:20px;}

/*产品详情 - 核心收获 & 课程亮点*/
.details-cention h2{padding:40px 0 25px 0px; color: #333; font-size: 28px; font-weight: 200;}
.highlights-left{width:594px;margin-bottom:-8px; overflow: hidden; height: 388px;}
.highlights-left a{ display: block;width:190px; height: 190px;float: left;margin:0 8px 8px 0;}
.highlights-left a img{ display: block;width:190px; height: 190px; overflow: hidden;}
.highlights-right{width:586px;}
.highlights-right-flash{width:100%;}
#highlights-right-flash .swiper-container {width: 100%;height: 100%; }
#highlights-right-flash  .swiper-slide{position: relative;}
#highlights-right-flash  .swiper-slide img{height: 388px; width: 594px;}
#highlights-right-flash .swiper-pagination-bullets {bottom: 15px;}
#highlights-right-flash .swiper-pagination-bullet {width: 6px;height: 6px;display: inline-block;border-radius: 100%;background: #fff;opacity: 1; margin:0 8px;}
#highlights-right-flash .swiper-pagination-bullet-active { opacity: 1; background: #05a89a;width: 40px;border-radius: 50px;transition: all .3s ease;}
.highlights-bg{width:210px; height:140px; padding:30px;background: rgba(5,168,154,0.5); position: absolute;right:45px;top:94px;}
.highlights-bg h3{position: relative;height:58px; overflow: hidden;}
.highlights-bg h3 span{position:absolute;line-height: 1;left:0px; top:-6px; display: block; float: left; font-size: 70px; color: #ffba00; font-family: "Calibri"; font-weight: 600;}
.highlights-bg h3 p{padding-left:50px; float: left; color: #fff; font-size:18px; line-height: 1.5;}
.highlights-bg h4{font-size: 14px; height: 80px; overflow: hidden; color: #fff; line-height: 1.8;margin-top:20px;}
.details-groom{margin-right: -30px; overflow: hidden; zoom: 1;}
.details-groom li{width:373px; float: left;margin-right: 30px; position: relative;}
.details-groom li a img{ display:block;width:373px; height: 210px; overflow: hidden;}
.details-groom li h3{padding:0 20px;width:333px; height: 60px; line-height: 60px; background: rgba(0,0,0,0.5); font-size: 18px; color: #fff; position: absolute;bottom:0px;left:0px;}
.details-story{margin-right: -30px; overflow: hidden; zoom: 1;}
.details-story li{width:373px; float: left;margin-right: 30px; position: relative;}
.details-story li a img,.details-story2 li a img{ display:block;width:373px; height: 200px; overflow: hidden;}
.details-story li h3{font-size: 14px; color: #666;margin-top:20px;}
/*产品详情 - 用户评价*/
.details-user{padding:0 50px 50px; background: #fff;}
.details-user li{border-bottom: 1px solid #f2f2f2;width:100%; clear: both; padding:50px 0 45px 0; overflow: hidden;}
.details-user li:last-child{border-bottom:none;padding-bottom:0px;}
.details-user-left{width:60px;}
.details-user-left a{display:block;width:60px; height: 60px;}
.details-user-left a img{display:block;width:60px; height: 60px; overflow: hidden;border-radius:100%;}
.details-user-left span{display: block;width:60px;text-align: center; font-size: 18px; color: #05A89A;margin-top:15px;}
.details-user-right{width:970px;padding-left:50px;}
.details-user-right span{ display: block; color: #999; font-size: 14px;}
.details-user-right p{color: #333; font-size: 18px; line-height:1.8;margin-top:5px;}
/*产品详情 - 费用说明 */
.details-navlist-top a{display:block;float:left; background:#f2f2f2; width:157px; height:40px; line-height: 40px; text-align: center;border-right:1px solid #fff; color:#999; font-size: 14px;}
.details-navlist-top a.active,.details-navlist-top a:hover{background: #05a89a; color: #fff;border-right:1px solid #05a89a;}
.details-navlist-top a:last-child{border-right: 1px solid #f8f8f8;}
.details-navlist-bottom{padding:20px 10px 30px 30px;background: #fff;}
.details-navlist-box{max-height: 400px; overflow: auto;padding-right:10px;font-size: 14px; color: #333; line-height: 1.8;}
.details-navlist-box strong,.details-navlist-box b{font-weight: bold;}
.details-navlist-box p{font-size: 14px; color: #333; line-height: 1.8;margin-top:10px;}
.details-navlist-box span{color: #666; }
.details-cention-cen{padding:40px 20px 40px 30px; background: #fff;}
.details-cention-cen h3.title{font-size: 18px; color: #333;}
.details-cention-cen h3.title span{color: #05a89a;}
.details-daymain{overflow:hidden;margin-top:30px;}
.details-dayleft{width:120px; padding-right:30px;}
.details-dayleft a{display: block;font-size: 18px; text-align: center; height: 40px; line-height: 40px; color: #999; background: #f2f2f2; border-bottom: 1px solid #e6e6e6;}
.details-dayleft a:last-child{border-bottom: 1px solid #fff; }
.details-dayleft a.active,.details-dayleft a:hover{background:#05A89A; border-bottom: 1px solid #05A89A; color: #fff;}
.details-dayright{width:960px; height: 800px; padding-right:20px;}
.details-daybox{padding-bottom:20px;}
.details-daybox li{margin-bottom:15px; clear: both; overflow: hidden; }
.details-daybox li.day{font-size: 18px; color:#05A89A ;position: relative;padding-left:20px;}
.details-daybox li.day span{width:10px; height: 10px; background: #05A89A; border-radius: 50px; display: block; position: absolute;top:7px;left:0px;}
.details-daybox li.traffic em,.details-daybox li.hotel em,.details-daybox li.destination em{margin:0 10px;width:20px; height: 20px; float: left;}
.details-daybox li.traffic span{display: block;line-height: 20px; float: left;}
.details-daybox li.traffic em.traffic-aircraft{background: url(../images/traffic-aircraft.png) no-repeat;}
.details-daybox li.traffic,.details-daybox li.destination,.details-daybox li.hotel{font-size: 16px; color:#666 ;}
.details-daybox li.hotel em,.details-daybox li.destination em{margin-left:0px;}
.details-daybox li.hotel em.hotel{background: url(../images/hotel.png) no-repeat;}
.details-daybox li.destination em.traffic-aircraft-s{background: url(../images/traffic-aircraft-s.png) no-repeat;}
.details-daybox li.scenic-spot{font-size: 16px; color:#333 ; line-height: 1.8;}
.details-daybox li.scenic-spot p{margin-bottom:20px;}

.details-headnav{height: 60px;transition: all .3s ease; display:none;box-shadow: 0px 0px 10px rgba(0, 0, 0, .3); background: #fff; width: 100%; position: fixed;left:0px;top:0px; z-index: 9999;}
.details-headnav a{display:inline-block;font-size:18px; color: #999;margin-right:50px;border-bottom:2px solid #fff;padding-bottom:3px; font-weight: 300;margin-top:20px;}
.details-headnav a:hover,.details-headnav a.active{border-bottom:2px solid #05A89A; color: #05A89A;}
.navFix{ display: block;}
/*主题游学三级页面*/
.subject-line-banner{width:100%;height: 500px;background-repeat: no-repeat;
    background-position: center;background-size: cover;}

#swiperfalsh {position:relative; overflow: inherit; padding-bottom:10px;}
#swiperfalsh .swiper-container{ position: inherit; width: 100%;  height:320px;}
#swiperfalsh .swiper-slide {}
#swiperfalsh .swiper-button-next,#swiperfalsh .swiper-button-prev {position: absolute;top:160px;width: 25px; height: 25px;
    z-index: 100; cursor: pointer;background-size:inherit;  background-position: center; background-repeat: no-repeat;
    left:inherit;}       
#swiperfalsh  .swiper-button-next{background-image: url(../images/r.png);right:-35px; }
#swiperfalsh  .swiper-button-prev{background-image: url(../images/l.png); left:-35px;}
#swiperfalsh .swiper-button-next.swiper-button-disabled, #swiperfalsh .swiper-button-prev.swiper-button-disabled {
    opacity: 0; cursor: auto;    pointer-events: none;}
.swiper-img  img{display: block;width:100%; height: 320px; overflow: hidden;}
.swiper-img a { display:block;position: relative;font-size: 24px; color: #333;text-overflow: ellipsis;  white-space: nowrap; overflow: hidden;}
.swiper-img a span{font-weight:100;width:100%; display: block; font-size: 24px; color: #fff; position: absolute; top:65px; left:0px;text-align: center; z-index: 2;}
.swiper-img a p{position: absolute;line-height:1.2;color: #fff;font-size: 24px;position: absolute; top:30px; left:0px;text-align: center;width: 100%;font-weight: 200; z-index: 2;}
/*.swiper-img .swiper-bg{width:100%; height: 320px; background:rgba(0,0,0,0.4); position: absolute;left:0;top:0;z-index: 1;}*/
.studyTour-title {font-size: 28px; text-align: center; color: #05a89a;padding:30px 0px;}
.advert-list li{width:300px;height:200px; position:relative;margin-top:30px;}
.advert-list li img {width:300px;height:200px;display:block;overflow:hidden;}
.advert-list li h3{height:60px; text-align: center; line-height: 60px;background: rgba(0, 0, 0, 0.5);font-size: 18px;color:#fff;position:absolute;left:0px;bottom:0px;width:100%;}
.advert-list li h3 strong{padding:0 20px;display: block; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;}
.ad-foot img,.ad-foot a{width:575px;height: 138px; display: block; overflow: hidden;}
/*主题游学三级页面 -游学故事*/
.studyTour-mian{margin-top:50px;}
.studyTour-title{font-size:32px;color: #05a89a; text-align: center; font-weight: 300;padding-bottom:35px;margin-top:-15px;}
.studyTour-nav{padding-left:137px;position: relative;height: 30px;}
.studyTour-nav h2{position: absolute;left:0;top:-10px;font-size: 28px; color: #3b3b3b;font-weight: 200;}
.studyTour-nav a.anav{display: block;padding:0px 10px 5px 10px;  border-bottom: 2px solid #f8f8f8;  float: left;color: #3c3c3c; font-size: 16px;margin-left:30px}
.studyTour-nav a.anav:hover{color: #00c0a4; border-bottom: 2px solid #00c0a4; }
.studyTour-nav a.active{color: #00c0a4; border-bottom: 2px solid #00c0a4; }
.commonbg .studyTour-nav a.anav{border-bottom: 2px solid #fff;}
.commonbg .studyTour-nav a.anav:hover{border-bottom: 2px solid #00c0a4;}
.commonbg .studyTour-nav a.anav.set{border-bottom: 2px solid #00c0a4;}
.studyTour-nav a.more{ display: block;position: absolute;right:0px;top:2px; font-size: 14px; color: #00c0a4;}
.studyTour-nav a.more:hover{text-decoration: underline;}
.studyTour-centent{margin-top:28px;overflow: hidden;}
.studyTour-story{margin-right:-12px;zoom: 1; height: 456px;}
.studyTour-centent-story{width:388px; height: 454px; border:1px solid #eee; background: #f7f7f7; float: left;margin-right:8px}
.story-top{height: 218px;  border-bottom:1px solid #eee; background: url(../images/lbg.jpg);padding:0px 30px}
.story-top h3{padding-top:30px;}
.story-top h3 a{font-size: 24px; color: #05a89a;}
.story-top dl{margin-top:20px;position: relative;height:70px; display: table;width:100% }
.story-top dl dt{width:70px; height: 70px;position:absolute; left:0px; top:0px;background: #cbcbcb; border-radius: 100%;overflow: hidden;}
.story-top dl dt img{ display: block;width: 70px; height: 70px; border-radius: 100%;}
.story-top dl dd{display: table-cell;  vertical-align: middle;padding-left:95px  }
.story-top dl dd h4{font-size: 18px; color:#333;padding-top:0px;}
.story-top dl dd p{font-size: 14px; color:#808080;}
.story-news{ height:140px;color: #353535; padding:45px 47px 0 47px; font-size: 14px; line-height:2.6; position: relative;}
.story-news p span,.story-p span{ color: #878787; }
.story-news span.licon{ display: block;width:24px; height: 24px; background: url(../images/licon.png) no-repeat;position:absolute;left:20px;top:28px}
.story-news span.ricon{ display: block;width:24px; height: 24px; background: url(../images/ricon.png) no-repeat;position:absolute;right:20px;bottom:28px}
.story-p{font-size: 14px; color: #333; padding: 0px 47px;}
.story-p:hover{color: #05a89a;}
.live-broadcast a{ display: block;width:388px; height: 220px; position: relative;}
.live-broadcast a img{display: block;width:388px; height: 220px; overflow: hidden;}
.live-broadcast p{ position: absolute;bottom:0px;left:0;height: 50px; line-height: 50px;background: rgba(0,0,0,0.5);width:100%; font-size: 16px; color: #fff;}
.live-broadcast p span{padding:0 25px;}
.live-broadcast-title {padding:40px;}
.live-broadcast-title a{font-size: 14px; color: #333; line-height: 2.2;}
.live-broadcast-title a span{color: #00c0a4;}
.live-broadcast-time{font-size: 14px; color: #7b7b7b;padding:0 40px;}
/*主题游学三级页面-立刻预约*/
.make-bg{width:100%; height: 300px; background: rgba(5,168,154,0.8);position: absolute;left:0px;bottom:0px; z-index: 333;}
.make-bg h3{font-size: 42px; color: #fff;margin-top:80px;font-weight: 200;width: 420px;}
.make-bg ul{margin-top:10px;}
.make-bg ul li{width:360px;margin-top:40px;}
.make-bg ul li input{width:340px;font-size:18px; color:#999;height: 40px; border:none;background: #fff;padding:0 10px;}
.make-box{width:140px; background: #fff; height: 38px; border:1px solid #fff; padding:0 10px;  position:relative}
.make-box h4{width:140px;background:url(../images/upicon.png) no-repeat right 15px; cursor: pointer; height: 38px; line-height: 38px;font-size: 18px; color: #999;}
.make-box-list{width:160px; border:1px solid #ccc;border-top:none;position: absolute;top:39px;left:-1px;background: #fff;}
.make-box-list a{border-bottom: 1px solid #eee; display: block;width:100%; height: 30px; line-height: 30px;  text-align: center;}
.make-box-list a:last-child{border:none}
.make-box-list a:hover{background:#eee}
.make-bg input.make-submit{width:300px; font-size:18px; color:#fff;background:#ffba00;height: 50px; cursor: pointer;margin-top:200px; line-height: 50px; border:none; text-align: center;}
.make-bg span.close{cursor:pointer;display: block;width:30px; height: 30px;background:url(../images/close.png) no-repeat;position: absolute;right:0px; top:55px;}

/*主题游学三级页面-轮播图*/
.flash-main{width:100%; height: 500px;}
#flash-main .swiper-container {width: 100%;height: 100%; }
#flash-main  .swiper-slide { background-position: center;background-size: cover;}

#flash-main .swiper-pagination-bullets {bottom: 20px;}
#flash-main .swiper-pagination-bullet {width: 10px;height: 10px;display: inline-block;border-radius: 100%;background: #fff;opacity: 1; margin:0 8px;}
#flash-main .swiper-pagination-bullet-active { opacity: 1; background: #05a89a;width: 60px;border-radius: 50px;transition: all .3s ease;}
.subject-line-main{margin-top:40px; overflow: hidden;}
.subject-line-box h3,.subject-line-main h3,.subjiect-ability h3{ font-size: 28px; text-align: center; color: #05a89a; font-weight: 300;margin-top:45px;}
.subject-line-box p{width:990px; font-size: 18px; text-align: center; color: #666;margin-top:20px;line-height: 2;}
.subject-line-nav{padding-left:90px;margin-top:40px; background:url(../images/zhuti-line1.png) no-repeat center 175px;}
.subject-line-nav a{position: relative;margin-left:50px; display: block;width:160px; height: 180px;  float: left;}
.subject-line-nav a h4{width:158px; transition: all .3s ease; text-align: center; height: 138px; background: #fff; border:1px solid #ffba00}
.subject-line-nav a h4 span{transition: all .3s ease;font-size: 18px; color: #333;margin-top:30px; display: block;}
.subject-line-nav a h4 p{transition: all .3s ease;font-size: 16px; color: #999;margin-top:20px;}
.subject-line-nav a span.Triangle{transition: all .3s ease;display: block;width:20px; height: 12px; background: url(../images/down1.png) no-repeat; display: none;}
.subject-line-nav a span.dain{transition: all .3s ease;display: block;position:absolute;left:50%; bottom:0px;margin-left:-4.5px;width:9px; height:9px;background:#ffba00; border-radius: 50px;}
.subject-line-nav a:hover h4,.subject-line-nav a.active h4{background: #05a89a; border:1px solid #05a89a}
.subject-line-nav a:hover h4 span,.subject-line-nav a:hover h4 p,.subject-line-nav a.active h4 span,.subject-line-nav a.active h4 p{ color: #fff;}
.subject-line-nav a:hover span.Triangle,.subject-line-nav a.active span.Triangle{ display: block;}
.subject-line-nav a:hover span.dain,.subject-line-nav a.active span.dain{width:50px; margin-left:-25px;border-radius:10px; background: #05a89a;}
.subject-line-cention{margin-top:50px;}
.subject-line-cention-box { height: 400px; position: relative;}
.subject-line-cention-box img{width:100%; height: 400px; display: block; overflow: hidden;}
.subject-line-cention-box .cention-box{ color: #fff; position: absolute;bottom:30px; left:30px;}
.subject-line-cention-box .cention-box h4{text-shadow: 2px 2px 3px #000;font-size:28px; border-bottom:4px solid #ffba00;width:800px;padding-bottom:10px;font-weight: 300;margin-left:0;}
.subject-line-cention-box .cention-box h5{text-shadow: 2px 2px 3px #000;font-size:28px;margin-top:10px;font-weight: 300;}
.subject-line-cention-box .cention-box p{text-shadow: 2px 2px 3px #000;font-size:18px;margin-top:10px;}
.subjiect-ability{padding-bottom:30px;}
.subjiect-ability-box{padding:0 50px;}
.subjiect-ability-box li{width:500px; height: 90px;margin:45px 0 0 0;}
.subjiect-ability-box li img{ display: block;width:90px; height: 90px; overflow: hidden; float: left;margin-right:15px;}
.ability-box-title{width:395px;float: left;}
.ability-box-title h4{font-size: 24px; color:#05a89a; font-weight: 300;}
.ability-box-title p{font-size: 16px; color: #333;margin-top:5px;}
.subject-line-cention-box .zhuti-tab-mb{background:url(../images/zhuti-tab-mb.png) repeat-x bottom;width:1180px;height:400px;position:absolute;top:0;left:0;}
